*~
*.pyc
/build-*
.idea
/example/files
/example/Vedad
/example/processed
**/*NG*/
**.DS_Store
/example/JamesJackmanWork
*.png
*.gif
*.key
/example/misc
*.ipynb_*
*.pkl
*.pdf
/temp
/example/RichardWork
*.pyprof
example/JamesMcWork
example/Blanco1/
*.fits
/example/SP_TESS_01
/example/Eyeballing
*.pdf
*.avi
*.mov
*.mp4
*._*
example/hpc/*.out
/GACF/pybind11/
