recursive-include sacf/include *.h
recursive-include  sacf *.cpp
global-include sacf/CMakeLists.txt *.cmake
recursive-include sacf *CMakeLists.txt
recursive-include sacf/include/pybind11/include *.h
recursive-include tests *